@model OnlineBookShop.Models.users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section css{
    <link rel="stylesheet" href="~/Content/css/login.css" type="text/css">
}
<div id="content">
    <div id="slogan">
        <img src="~/Content/images/signin.jpg" alt="ABC BOOK SHOP">
    </div>
    <div id="login" style="background: #ffffff !important;">
        @if (@ViewBag.Message != null)
        {
            <div style="color: red; text-align: center;">@ViewBag.Message</div>
        }
        <div class="login-container">
            <h1>Đăng nhập</h1>
            @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.ValidationSummary(true);

                <div class="login-box" id="email-container">
                    <label for="email">
                        Email:
                        <input class="login-box-input" id="email" type="text" name="email" size="70"
                               placeholder="Nhập email của bạn">
                        @ViewData["Loi1"]
                    </label>
                </div>
                <div class="login-box" id="password-container">
                    <label for="password">
                        Mật khẩu
                        <input class="login-box-input" id="password" type="password" name="password" size="70"
                               placeholder="Nhập password của bạn">
                        @ViewData["Loi1"]
                    </label>
                </div>
                <div class="forget-password-container">
                    <button id="forget-password-button" href="#" style="margin-left: 400px; margin-right: 50px;">Bạn quên mật khẩu?</button>
                </div>
                <div class="login-button-container">
                    <button type="submit" class="login-button">
                        Đăng nhập
                    </button>
                </div>
            }
            @*<form class="login-form" method="post" action="">
                </form>*@
        </div>
        <div class="login-method-container">
            <h5>Hoặc tiếp tục với</h5>
            <div class="login-method" id="facebook-method">
                <button id="facebook-button" type="submit">
                    <span class="button-wrapper">
                        <i class="fa fa-facebook"></i>
                        Đăng nhập bằng Facebook
                    </span>
                </button>
            </div>
            <div class="login-method" id="gmail-method">
                <button id="gmail-button" type="submit" onclick="return false;">
                    <span class="button-wrapper">
                        <img class="gmail-icon" src="~/Content/images/gmail.jpg">
                        Đăng nhập bằng Gmail
                    </span>

                </button>
            </div>
        </div>
        <div class="register-container">
            <p>Bạn chưa có tài khoản?</p>
            <a href="#">Đăng ký</a>
        </div>
    </div>
</div>
